li a {
    color: red;
    font-size: 36px;
    font-family: 'arial', cursive;
}
body {
    background: orange url("images/background.gif") no-repeat;
}

ul {
  font-size: 36px;
  font-family: 'Comic Sans MS', cursive;
  color: yellow;
}

h1 {
  font-size: 40px;
  font-family: 'Comic Sans', cursive;
  color: red;
}

form {
  font-size: 40px;
  font-family: 'Comic Sans', cursive;
  color: whitesmoke;
}

input {
  font-size: 40px;
  font-family: 'Comic Sans', cursive;
  color: black;
}

#box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px; 
}

.cat * {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.cat, .ears, .eyes, .muzzle, .body, .paw, .tail, .tail-segment {position: relative;}
.head, .body, .paw, .tail-segment {background-color: #000000;}
.left {float: left;}
.right {float: right;}
.cat {
  margin-top: 50px;
  animation: purr 5s infinite cubic-bezier(0,.75,1,.25);
}
.head {
  width: 100px;
  height: 90px;
  border-radius: 50%;
  z-index: 100;
  animation: head-bob 5s infinite ease-in-out;
}
.ears {
  top: -20px;
  z-index: -100;
}
.ear {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #000000;
}
.ear.left {
  transform: rotate(-20deg) translateX(-10px);
}
.ear.right {
  transform: rotate(20deg) translateX(10px);
}
.eyes {
  top: -18px;
  width: 60%;
}
.eye {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFD700;
  animation: eye-blink 5s infinite;
  text-align: center;
}

.muzzle {
  top: 50px;
}
.nose {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #666666;
}
.body {
  width: 200px;
  height: 120px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  top: -75px;
  left: 90px;
  z-index: -10;
}
.paw {
  height: 30px;
  width: 50px;
  border-radius: 25px;
  left: -100px;
  top: 90px;
}
.tail {
  left: 180px;
  top: -100px;
  transform: rotate(90deg);
  
}

.tail-segment {
  height: 20px;
  width: 30px;
  border-radius: 25px;
  top: 0px;
  left: 10px;
  /*transform: rotate(10deg);*/
  animation: tail-swish 4s infinite cubic-bezier(.8,0,.2,1);
}

@keyframes tail-swish {
  0% {transform: rotate(12deg);}
  10% {transform: rotate(12deg);}
  40% {transform: rotate(-5deg);}
  50% {transform: rotate(5deg);}
  60% {transform: rotate(-5deg);}
  100% {transform: rotate(12deg);}
}

@keyframes head-bob {
  0% {transform: translateX(-15px) translateY(45px);}
  10% {transform: translateX(-15px) translateY(45px);}
  30% {transform: translateX(0) translateY(0);}
  75% {transform: translateX(0) translateY(0);}
  90% {transform: translateX(-15px) translateY(45px);}
  100% {transform: translateX(-15px) translateY(45px);}
}

@keyframes eye-blink {
  0% {transform: scaleY(0);}
  10% {transform: scaleY(0);}
  15% {transform: scaleY(1);}
  48% {transform: scaleY(1);}
  50% {transform: scaleY(0);}
  52% {transform: scaleY(1);}
  90% {transform: scaleY(1);}
  95% {transform: scaleY(0);} 
  100% {transform: scaleY(0);}  
}

@keyframes purr {
  0% {left: -1px;}
  1% {left: 0px;}
  2% {left: -1px;}
  3% {left: 0px;}
  4% {left: -1px;}
  5% {left: 0px;}
  6% {left: -1px;}
  7% {left: 0px;}
  8% {left: -1px;}
  9% {left: 0px;}
  10% {left: -1px;}
  11% {left: 0px;}
  12% {left: -1px;}
  13% {left: 0px;}
  14% {left: -1px;}
  15% {left: 0px;}
  16% {left: -1px;}
  17% {left: 0px;}
  18% {left: -1px;}
  19% {left: 0px;}
  20% {left: -1px;}
  21% {left: 0px;}
  94% {left: 0px;}
  95% {left: -1px;}
  96% {left: 0px;}
  97% {left: -1px;}
  98% {left: 0px;}
  99% {left: -1px;}
  100% {left: 0px;}
}


.dog {
  width: 120px;
  position: relative;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dog-body {
  background: black;
  border-radius: 300px 300px 0 0;
  height: 300px;
}

.beard {
  width: 55px;
  height: 65px;
  background: gray;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  &:after {
    content: '';
    background: gray;
    width: 26px;
    height: 13px;
    border-radius: 0 0 25px 25px;
    display: block;
    margin: 0 auto;
    transform: translateY(64px);
  }
  &:before {
    content: '';
    background: #000;
    width: 20px;
    height: 10px;
    border-radius: 0 0 20px 20px;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.dog-mouth {
  background: #1A243C;
  width: 30px;
  height: 15px;
  border-radius: 0 0 30px 30px;
  position: absolute;
  top: 22px;
  margin: auto;
  left: 0;
  right: 0;
  border-top: 3px solid #fff;
  box-sizing: border-box;
  .tongue {
    width: 20px;
    height: 30px;
    border-radius: 5px 5px 10px 10px;
    background: #FF6B5A;
    margin: 0 auto;
    position: relative;
    top: 4px;
    transition: 300ms;
    animation: grow .1s infinite alternate;
  }
}

.dog-eyes {
  background: whitesmoke;
  width: 20px;
  height: 24px;
  border-radius: 20px 20px 0 0;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 2px;
  &:before, &:after {
    content: '';
    width: 10px;
    height: 10px;
    background: yellow;
    display: block;
    border-radius: 50%;
    top: 50%;
    position: absolute;
    animation: squeeze 1.2s infinite;
  }
  &:before {
    left: -13px;
  }
  &:after {
    right: -13px;
  }
}

.belt {
  height: 30px;
  background: #FF6B5A;
  margin-top: 20px;
  position: relative;
  .locket {
    width: 30px;
    height: 30px;
    background: #FFC442;
    margin: 0 auto;
    border-radius: 50%;
    transform: translateY(50%);
  }
  .dot {
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    margin: auto;
    &.dot1 {
      margin-left: 10px;
    }
    &.dot2 {
      margin-left: 34px;
    }
    &.dot3 {
      margin-left: 77px;
    }
    &.dot4 {
      margin-left: 100px;
    }
  }
  &:before, &:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 10px;
    background: #fff;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  &:before {
    left: -5px;
    border-radius: 10px 0 0 10px;
  }
  &:after {
    right: -5px;
    border-radius: 0 10px 10px 0;
  }
}

.stomach {
  width: 56px;
  height: 130px;
  background: whitesmoke;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 120px 120px 0 0;
}

.dog-legs {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12px;
  &:before, &:after {
    height: 12px;
    border-radius: 20px 20px 0 0;
    display: inline-block;
    content: '';
    position: absolute;
    background: black;
    width: 45px;
  }
  &:before {
    left: -37px;
  }
  &:after {
    right: -37px;
  }
  .left, .right {
    display: inline;
    width: 12px;
    height: 55px;
    background: black;
    position: absolute;
    bottom: 0;
    &:before {
      content: '';
      width: 28px;
      height: 12px;
      background: black;
      border-radius: 20px 20px 0 0;
      display: inline-block;
      bottom: 0;
      position: absolute;
    }
  }
  .left {
    left: -12px;
    border-radius: 20px 0 0 0;
    &:before {
      transform: translateX(-1px);
    }
  }
  .right {
    right: -12px;
    border-radius: 0 20px 0 0;
    z-index: 1;
    &:before {
      transform: translateX(-13px); 
    }
  }
}

.dog-ears {
  position: absolute;
  z-index: -1;
  top: -20px;
  &:after, &:before {
    content: '';
    display: inline-block;
    background: black;
    width: 40px;
    height: 90px;
    border-radius: 100% 100% 0 0;
  }
  &:after {
    transform: translateX(40px);
    border: 10px solid black;
    box-sizing: border-box;
  }
}

.dog-tail {
  background: black;
  width: 14px;
  height: 80px;
  position: absolute;
  z-index: -1;
  right: 10px;
  bottom: 40px;
  transform: rotate(30deg);
  border-radius: 14px;
  transform-origin: bottom;
  transition: 300ms;
  animation: shake .08s infinite alternate;
}

.tag {
  border-left: 5px solid #FF6B5A;
  border-bottom: 5px solid #FF6B5A;
  width: 500%;
  height: 161px;
  z-index: 2;
  position: absolute;
  top: 30px;
  left: 100px;
  box-sizing: border-box;
  border-bottom-left-radius: 40px;
}

@keyframes squeeze {
  90% {
    transform: none;
    animation-timing-function: ease-in;
  }
  93% {
    transform: scale(1.2, 0.3);
  }
  100% {
    animation-timing-function: ease-out;
  }
}

@keyframes grow {
  0% {
    animation-timing-function: ease-in;
  }
  100% {
    height: 35px;
  }
}

@keyframes shake {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(40deg);
  }
}